<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/chat_style.css">
    <title>Document</title>

</head>
<body>
    <%- include('./header'); %>
    <% if (error_message) { %>
      <p style="color: red;"><%= error_message %></p>
    <% } %>
    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <a href = "/room/create">部屋を作成する</a>

        <ul id="userList">
          <% rooms.forEach(function(room) { %>
            <li class="user-item" data-id="<%= user.id %>">
              <a href="/room/<%= room.room_id%>">
                roomname: <%= room.room_name %>, created_at: <%= room.created_at %>
              </a>
            </li>
          <% }); %>
        </ul>
      <% }%>
    </ul>

</body>
</html>